svg{
    position: absolute;
    top: 30%;
    max-width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba($color: #000000, $alpha: 0.5);
    padding: 10px;
    @media only screen  and (max-width : 991px){
        width: 100%;
       
    }
    
}