<app-menu-internas></app-menu-internas>
<section id="titlePage" class="center-align">
  <h2>ExpoFace</h2>
  <hr>
</section>

<section id="expoPage">

  <div class="container expo">
    <div class="row">
      <div class="col s1"></div>
      <div class="col s12">
        <p class="center-align">Exposição Promocional Paralela de produtos e serviços destinados à
            Harmonização Orofacial e Odontologia Estética. Serão 30 empresas
            reunidas em um espaço integrado aos auditórios e a certeza de
            bons negócios para quem deseja equipar clínicas ou consultórios.</p><br>
        <img src="/assets/img/layout/expo.jpg" class="responsive-img" alt="Expo">
        
        <!-- <p>Exposição Promocional Paralela de produtos e serviços destinados à Harmonização Orofacial e Odontologia Estética. Serão 25 empresas reunidas em um espaço integrado aos auditórios e a certeza de bons negócios para quem deseja equipar a clínica ou consultório.</p> -->
      </div>
      <div class="col s1"></div>
    </div>
    <div style="padding-top:20px;" class="row planta-evento">
      <div class="col s4"></div>
      <div class="col s4 center">
        <a href="/assets/pdf/planta.pdf" class="btn-large btn-default " target="_blank">Planta do
          evento</a>
      </div>
      <div class="col s4"></div>
    </div>
    <div class="row">
      <h3 class="center">Empresas participantes</h3>
    <!-- row-1 -->
    <div class="row lista-empresas center">
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">Allergan</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">C L S P/DMC</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">CV DENTUS</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">DV DENT</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">INNOVA PHARMA</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">INTRA-LOCK</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">LABORDENTAL</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">MONTSERRAT</span>
        </div>
      </div>
      <div class="col l2 m4 s6">
        <div class="card-panel">
          <span class="white-text">OLSEN</span>
        </div>
      </div>
      
    </div>
  </div>



    <div class="row contato">
      <div class="col s12 center">
        <h3>Informações e reservas de estandes:</h3>
      </div>
      <div class="col s12">
        <div class="col m1"></div>
        <div class="col s12 m4 center-align">
          <h3>Mauricio Allegrini</h3>
          <p>Telefones: (11) 2168-3400 / (11) 97392-9230</p>
          <p><i>E-mail:</i>
            <a  href="mailto:atendimento.mauricio@vmcom.com.br">atendimento.mauricio@vmcom.com.br</a></p>
        </div>
        <div class="col m2"></div>
        <div class="col s12 m4 center-align">
          <h3>Silvia Bruna</h3>
          <p>Telefones: (11) 2168-3400</p>
          <p><i>E-mail:</i>
            <a  href="mailto:atendimento.silvia@vmcom.com.br">atendimento.silvia@vmcom.com.br</a></p>
        </div>
        <div class="col m1"></div>
      </div>      
    </div>
  </div>
</section>