<section id="banner2">
  <div class="slider">
      
    <ul class="slides">
        
      <li>
          <span id="overlay2"></span>
        <img src="assets/img/layout/bckg_topo.jpg"> <!-- random image -->
        <div class="caption center-align">
            <a routerLink="/sobre">
              <app-intro class="hide-on-small-only"></app-intro>
              <app-intro2 class="hide-on-med-and-up show-on-small"></app-intro2>
            </a>
        </div>
      </li>
      <li>
          <span id="overlay2"></span>
        <img src="assets/img/layout/programacao.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>Programação<br>Científica</h3>
          <h5 class="light grey-text text-lighten-3">Conferências especiais Direto ao Ponto</h5>
          <a routerLink="/programacao" class="btn btn-default">Clique aqui</a>
        </div>
      </li>
      <li>
          <span id="overlay2"></span>
        <img src="assets/img/layout/expo.png"> <!-- random image -->
        <div class="caption center-align">
            <h3>ExpoFACE 2019</h3>
            <h5 class="light grey-text text-lighten-3">Empresas especializadas em Harmonização Orofacial</h5>
            <a routerLink="/expo" class="btn btn-default">Clique aqui</a>
        </div>
      </li>
      <li>
          <span id="overlay2"></span>
        <img src="assets/img/layout/adesao.png"> <!-- random image -->
        <div class="caption center-align">
            <h3>Faça sua adesão </h3>
            <h5 class="light grey-text text-lighten-3">Valores especiais até 3/6</h5>
            <a routerLink="/adesao" class="btn btn-default">Clique aqui</a>
        </div>
      </li>
      
      
    </ul>
    
  </div>
</section>