<app-menu-internas></app-menu-internas>
<section id="titlePage" class="center-align">
  <h2>ATIVIDADES PARALELAS</h2>
  <hr>
</section>

<section id="atividade">
  <div class="container-fluid">

    
     
        <!-- <div class="row">
          <div class="col m4 s12 atividade-container">
            <div class="col s12 center-align">
              <img src="/assets/img/layout/lounge.png" alt="">
            </div>
            <div class="col  s12 center-align">
              <div class="text-atividade">
                <h2>Lounge FACE</h2>
                <p>Procedimentos avançados em vídeo.</p>
              </div>
            </div>
          </div>
          <div class="col m4 s12 atividade-container">
            <div class="col s12 center-align">
              <img src="/assets/img/layout/workshop.png" alt="">
            </div>
            <div class="col  s12 center-align">
              <div class="text-atividade">
                <h2>Workshop</h2>
                <p>Demonstrações comentadas e interativas.</p>
              </div>
            </div>
          </div>
          <div class="col m4 s12 atividade-container">
            <div class="col s12 center-align">
              <img src="/assets/img/layout/lounge.png" alt="">
            </div>
            <div class="col  s12 center-align">
              <div class="text-atividade">
                <h2>Studio 3D</h2>
                <p>Reprodução da face: captação de imagens e sistemas de impressão.</p>
              </div> 
            </div>
          </div>
        </div> -->
        <div class="row atividade-container-big">
          <div class="col  s12 ">
            <div class="col s12 center-align">
              <img src="/assets/img/layout/lounge.png" alt="">
            </div>
            <div class="col  s12 center-align">
              <div class="text-atividade">
                <h2>Studio 3D</h2>
                
              </div>
            </div>
            <div class="container ">
              <div class="container-atividade ">
                <div class="col m4 l3 s12 foto-3d">
                  <img src="/assets/img/layout/3d-photo.jpg" class="responsive-img" alt="">
                </div>
                <div class="col m8 l9 s12">
                  <h2>Reprodução da face: captação de imagens e sistemas de impressão.<br>
                    <span>Inicio da atividade: 26/9, das 8H30 às 9h</span>
                  </h2>

                  <p>Ao longo do FACE International Congress, sob a coordenação dos professores
                      Diego Zimmermann e Ricardo Kimura, uma equipe de especialistas em Odontologia
                      Digital e sistemas de reprodução da face farão a captação de imagens da modelo
                      Natália Figueira, Miss Goiânia 2017.<br>
                      O primeiro passo será o escaneamento facial através de uma sequência de
                      fotos, que vai gerar uma fotometria, ou seja, a reconstrução em 3D da face.
                      Em seguida, este material ganhará vida por intermédio das impressoras 3D para
                      ser apresentado aos participantes do encontro como exemplo para análise facial.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row atividade-container-big">
          <div class="col  s12 ">
            <div class="col s12 center-align">
              <img src="/assets/img/layout/lounge.png" alt="">
            </div>
            <div class="col  s12 center-align">
              <div class="text-atividade">
                <h2>Lounge FACE</h2>
                <p>Procedimentos avançados em vídeo.</p>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row atividade-container-big">
          <div class="col  s12 ">
              <div class="col s12 center-align">
                <img src="/assets/img/layout/workshop.png" alt="">
              </div>
              <div class="col  s12 center-align">
                <div class="text-atividade">
                  <h2><i>Workshop</i></h2>
                  <p>Demonstrações comentadas e interativas.</p>
                </div>
              </div>
          </div>
        </div>
    

  </div>
</section>
