<app-menu-internas></app-menu-internas>
<section id="titlePage" class="center-align">
  <h2>TABELA DE ADESÃO</h2>
  <hr>
</section>

<section id="adesaoPage">
  <div class="container">
    <div class="row">
      <p class="center-align col l8 offset-l2 s12">Agora que você já conhece a programação do FACE International Congress
        2019, confira os valores das adesões por categoria e condições de pagamento,
        e garanta o seu lugar através do site www.facecongress.com.br.</p>
    </div>
  </div>
  <div class="row desktop">
    <div class="container">
      
      <table class="col s12 striped centered" data-aos="zoom-out">
        <thead>
          <tr>
            <th>Categoria</th>
            <th class="selecionado">Até 3/junho</th>
            <th>De 4/junho <br>a 5/agosto</th>
            <th>De 6/agosto <br>a 2/setembro</th>
            <th>De 3/setembro <br>a 20/setembro</th>
            <th>No evento</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>Assinantes das revistas<br> Face / ImplantNewsPerio <br> OrtodontiaSPO / PróteseNews </td>
            <td class="selecionado">R$ 800,</td>
            <td>R$ 960,</td>
            <td>R$ 1.150,</td>
            <td>R$ 1.380,</td>
            <td>R$ 1.660,</td>
          </tr>

          <tr>
            <td>Alunos de pós-graduação</td>
            <td class="selecionado">R$ 980,</td>
            <td>R$ 1.200,</td>
            <td>R$ 1.490,</td>
            <td>R$ 1.590,</td>
            <td>R$ 1.790,</td>
          </tr>

          <tr>
            <td>Demais profissionais</td>
            <td class="selecionado">R$ 1.100,</td>
            <td>R$ 1.320,</td>
            <td>R$ 1.580,</td>
            <td>R$ 1.890,</td>
            <td>R$ 2.270,</td>
          </tr>

         

          <tr>
            <td>Condições de pagmento</td>
            <td class="selecionado">Cartão <br>de crédito: 6x</td>
            <td>Cartão <br>de crédito: 5x</td>
            <td>Cartão <br>de crédito: 3x</td>
            <td>Cartão <br>de crédito: 2x</td>
            <td>Cartão <br>de crédito: à vista</td>
          </tr>

        </tbody>

      </table>
      
    </div>
  </div>

 


  <div class="row tabela-mobile">
    <div class="container center">

      <table class="col s12 striped centered" data-aos="zoom-out">
        <thead>
          <tr>
            <th colspan="3" class="selecionado">Assinantes das revistas<br> Face / ImplantNewsPerio <br> OrtodontiaSPO / PróteseNews </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="selecionado">ATÉ 3/JUNHO</td>
            <td class="selecionado">R$ 800,</td>
            <td class="selecionado">Cartão de crédito: 6x</td>
          </tr>

          <tr>
            <td>DE 4/JUNHO <br>A 5/AGOSTO</td>
            <td>R$ 960,</td>
            <td>Cartão de crédito: 5x</td>
          </tr>

          <tr>
              <td>DE 6/AGOSTO <br>A 2/SETEMBRO</td>
            <td>R$ 1.150,</td>
            <td>Cartão de crédito: 3x</td>
          </tr>
          <tr>
              <td>DE 3/SETEMBRO <br>A 20/SETEMBRO</td>
            <td>R$ 1.380,</td>
            <td>Cartão de crédito: 2x</td>
          </tr>
          <tr>
              <td>NO EVENTO</td>
            <td>R$ 1.660,</td>
            <td>Cartão de crédito: à vista</td>
          </tr>

        </tbody>

      </table>

    </div>
  </div>

  <div class="row tabela-mobile">
    <div class="container center">

      <table class="col s12 striped centered" data-aos="zoom-out">
        <thead>
          <tr>
            <th colspan="3" class="selecionado">Alunos de pós-graduação</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="selecionado">ATÉ 3/JUNHO</td>
                <td class="selecionado">R$ 980,</td>
                <td class="selecionado">Cartão de crédito: 6x</td>
              </tr>
    
              <tr>
                <td>DE 4/JUNHO <br>A 5/AGOSTO</td>
                <td>R$ 1.200,</td>
                <td>Cartão de crédito: 5x</td>
              </tr>
    
              <tr>
                  <td>DE 6/AGOSTO <br>A 2/SETEMBRO</td>
                <td>R$ 1.490,</td>
                <td>Cartão de crédito: 3x</td>
              </tr>
              <tr>
                  <td>DE 3/SETEMBRO <br>A 20/SETEMBRO</td>
                <td>R$ 1.590,</td>
                <td>Cartão de crédito: 2x</td>
              </tr>
              <tr>
                  <td>NO EVENTO</td>
                <td>R$ 1.790,</td>
                <td>Cartão de crédito: à vista</td>
              </tr>
    


        </tbody>

      </table>

    </div>
  </div>

  <div class="row tabela-mobile">
    <div class="container center">

      <table class="col s12 striped centered" data-aos="zoom-out">
        <thead>
          <tr>
            <th colspan="3" class="selecionado">Demais profissionais</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class="selecionado">ATÉ 3/JUNHO</td>
                <td class="selecionado">R$ 1.100,</td>
                <td class="selecionado">Cartão de crédito: 6x</td>
              </tr>
    
              <tr>
                <td>DE 4/JUNHO <br>A 5/AGOSTO</td>
                <td>R$ 1.320,</td>
                <td>Cartão de crédito: 5x</td>
              </tr>
    
              <tr>
                  <td>DE 6/AGOSTO <br>A 2/SETEMBRO</td>
                <td>R$ 1.580,</td>
                <td>Cartão de crédito: 3x</td>
              </tr>
              <tr>
                  <td>DE 3/SETEMBRO <br>A 20/SETEMBRO</td>
                <td>R$ 1.890,</td>
                <td>Cartão de crédito: 2x</td>
              </tr>
              <tr>
                  <td>NO EVENTO</td>
                <td>R$ 2.270,</td>
                <td>Cartão de crédito: à vista</td>
              </tr>
    

        </tbody>

      </table>

    </div>
  </div>

 
  <!-- <div class="row  beneficios">
    <div class="container center">
      <div class="col s12">
        <h4 class="center ">BENEFÍCIOS SEM CUSTOS:</h4>
        <p class="center ">Alimentação completa : <em>coffee break</em>&nbsp;&nbsp;e <strong><i>brunch</i> especial na hora do almoço, nos três dias do evento.</strong>
        </p>
      </div>
    </div>
  </div> -->
  <div class="row  beneficios">
    <div class="container center">
      <div class="col s12">
        <h4 class="center ">Benefícios da adesão ao FACE Internacional Congress</h4>
        <p class="center ">Alimentação completa : <em>coffee break</em>&nbsp;&nbsp;e <strong><i>brunch</i> especial na
            hora do almoço, nos três dias do evento.</strong><br>
            Programação científica de nível internacional;
        </p>
        
        <h4 class="center">Acesso ilimitado às atividades como:
          
        </h4>
        <ul>
          <li>- Conferências especiais Direto ao Ponto</li>
          <li>- Lounge FACE</li>
          <li>- Workshop</li>
        </ul>
      </div>
    </div>
  </div>
  

  <div class="row center btn-adesao">
    <a href="https://www.inscricaofacil.com.br/congressos/face19/" target="_blank"
      class="waves-effect waves-light btn-large btn-default">
      <i class="material-icons left">check</i> <strong>Fazer adesão agora</strong></a>
  </div>

  <div class="row" data-aos="zoom-in">
    <div class="container politica">
      <h4>Política de reembolso, condições gerais de cancelamento e substituições.</h4>
      <p>As solicitações de reembolso serão aceitas SOMENTE por escrito e devem ser encaminhadas para o <i>e-mail</i> da Secretaria Executiva do evento: <a class="black-text" href="mailto:eventos@vmcom.com.br">eventos@vmcom.com.br</a>, com a justificativa do cancelamento. 
        </p>
      <p>Os valores a serem reembolsados são:</p>
      <ul>
        <li>Até o dia <strong>14/6/2019:</strong> 80% do valor pago pela adesão</li>
        <li>Até o dia <strong>5/8/2019:</strong> 50% do valor pago pela adesão</li>
        <li>A partir de <strong>3/9/2019:</strong> não haverá devolução de valores pagos.</li>
      </ul>
      <p>Em caso de não comparecimento durante a realização do evento, não haverá devolução dos valores pagos, EXCETO
        em casos de doença ou morte, mediante apresentação de laudo médico com CID e/ou certidão de óbito, no prazo
        máximo de até 5 (cinco) dias, após a realização do evento.</p>
      <p><strong>Substituições:</strong> serão aceitas até o dia <b>3 de setembro</b>, mediante solicitação enviada para o
        <i>e-mail:</i> <a class="black-text" href="mailto:eventos@vmcom.com.br"> eventos@vmcom.com.br</a>, junto
        com os dados do participante a ser substituído</p>
      <p><strong>*Atenção:</strong> é proibido o acesso de menores nas salas e/ou auditórios, mesmo acompanhados de um
        adulto inscrito no evento. Somente será permitida a entrada na área da Exposição Promocional, e com a
        apresentação de um termo de responsabilidade do inscrito ou visitante.</p>
    </div>
  </div>

  <div class="row center info-contato">

    <h3><strong>Para mais informações</strong></h3>
    <strong>Secretaria Executiva:</strong><br>
    Telefone: (11) 2168-3400<br>
    WhatsApp: (11) 97113-2561<br>
    <i>E-mail: </i> <a class="black-text" href="mailto:eventos@vmcom.com.br">eventos@vmcom.com.br</a>

  </div>
</section>