<app-menu></app-menu>
<section id="banner" class="row">
  <div class="col s12">
    <div class="banner-container">
       
      <span></span>
      <app-banner2></app-banner2>
      

    </div>
  </div>
</section>
<!-- <section id="sobre">
  <div class="row valign-wrapper">
    <div class="col l6 m12 s12">
      <div class="text-sobre">
        <h2>Sobre o Evento</h2>
        <div class="col s12">
          <hr>
        </div>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, ullam porro. Excepturi neque enim impedit soluta amet ea ullam, qui consequatur aliquid laudantium explicabo iure earum quos vitae sint placeat.</p>
        <a href="" class="btn btn-default">Saiba Mais</a>
      </div>
    </div>
    <div class="col l6 m12 s12">
      <div class="img_sobre ">
        <img src="/assets/img/layout/img_sobre.jpg" class="responsive-img hide-on-small-only" alt="">
      </div>
    </div>
  </div>
</section> -->

<section id="fazemos">
  <div class="row">
    <div class="col s12">
      <div class="title_fazemos center-align">
        <h2>O que você vai ver no <br>
          <span> face 2019?</span>
        </h2>
        <div class="col s12">
          <hr>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="col s12">
      <div class="row">
        
          <div class="info ">

            <div class="row">
              <div class="col s12">
                <div class="col l3 s12">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                      <div class="">
                        <div class="col center-align s12">
                          <img src="/assets/img/layout/icon-direto-ao-ponto.png" class="responsive-img" alt="">
                        </div>
                        <div class="col center-align s12">
                          <p>Conferências Direto ao Ponto </p>
                          <span class="text">Abordagens objetivas e
                              práticas, sem rodeios, com
                              foco no que realmente
                              interessa.</span>
                        </div>
                      </div>
                    </div>
                </div>
                <!--fim info_container -->
                <div class="col l3 s12  ">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                    <div class="">
                      <div class="col center-align s12">
                          <img src="/assets/img/layout/3d.png" class="responsive-img" alt="">
                      </div>
                      <div class="col center-align s12">
                        <p>Studio 3D </p>
                        <span class="text">Reprodução da face:
                            captação de imagens
                            e sistemas de
                            impressão 3D.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--fim info_container -->
                <div class="col l3 s12 ">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                    <div class="">
                      <div class="col center-align s12">
                        <img src="/assets/img/layout/lounge.png" class="responsive-img" alt="">
                      </div>
                      <div class="col center-align s12">
                        <p><i>Lounge</i> FACE </p>
                        <span class="text">Sessões objetivas
                            de vídeos com
                            procedimentos nos
                            diversos campos de HOF.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--fim info_container -->
                <div class="col l3 s12">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                    <div class="">
                      <div class="col center-align  s12">
                        <img src="/assets/img/layout/workshop.png" class="responsive-img" alt="">
                      </div>
                      <div class="col center-align s12">
                        <p><i>Workshop</i></p>
                        <span class="text">Cinco atividades com
                            3h/aula sobre temas atuais
                            e seus empregos em
                            procedimentos de HOF.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--fim info_container -->
              </div>
            </div>
           



            <div class="row">
              <div class="col l8 offset-l2">
                <div class="col l4  s12">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                    <div class="">
                      <div class="col s12 center-align">
                        <img src="/assets/img/layout/alimentacao.png" class="responsive-img" alt="">
                      </div>
                      <div class="col center-align s12">
                        <p>Alimentação</p>
                        <span class="text">Visando o conforto de todos, e
                            economia de tempo e dinheiro,
                            o evento oferecerá <i>coffee break</i>
                            e <i>brunch</i> a todos os participantes.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!--fim info_container -->
                <div class="col l4  s12 ">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                      <div class="">
                        <div class="col s12 center-align">
                          <img src="/assets/img/layout/premium.png" class="responsive-img" alt="">
                        </div>
                        <div class="col center-align s12">
                          <p>Padrão premium</p>
                          <span class="text">O primeiro evento no Brasil
                              para profissionais de
                              Odontologia que estão um
                              passo à frente.</span>
                        </div>
                      </div>
                    </div>
                </div>
                <!--fim info_container -->
                <div class="col l4  s12 ">
                  <!-- info_container -->
                  <div class="info_container" data-aos="zoom-out">
                      <div class="">
                        <div class="col  s12 center-align">
                          <img src="/assets/img/layout/full_hd.png" class="responsive-img" alt="">
                        </div>
                        <div class="col center-align s12 ">
                          <p>Projeção Full HD</p>
                          <span class="text">Sistema de projeção BARCO
                              europeu com 30.000
                              ANSI lúmens, HD, formato
                              widescreem. Som Dolby
                              Surround.</span>
                        </div>
                      </div>
                    </div>
                </div>
                <!--fim info_container -->
              </div>
            </div>

           

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="expo">
  <div class="container">
    <div class="row">
      <div class="col l8 offset-l2 m8 offset-m2 s12">
        <div class="info_expo center-align" data-aos="zoom-in">
          <h2 style="text-transform:initial;">ExpoFace 2019</h2>
          <p>Exposição promocional paralela de produtos e serviços destinados à Harmonização Orofacial e Odontologia Estética. Serão 30 empresas reunidas em um espaço integrado aos auditórios e a certeza de bons negócios para quem deseja equipar a clínica ou o consultório.</p>
          <a href="" routerLink="/expo" class="btn btn-default-dark">Saiba Mais</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="endereco" >
  <div class="row valign-wrapper">
    <div class="col l6 m6 s12">
      <div class="txt_endereco center-align" data-aos="fade-right" data-aos-anchor-placement="top-center">
        <h2>Informações</h2>
        <hr>
        <p>
            <b>FACE International Congress 2019</b> <br>
            De 26 a 28 de setembro de 2019<br>
            Local: Av. Rebouças, 600 - Pinheiros - São Paulo - SP
        </p>
        <p>
            <b>Para mais informações</b><br>
            Secretaria Executiva:<br>
            Telefone: (11) 2168-3400<br>
            WhatsApp: (11) 97113-2561<br>
            <i>E-mail:</i> <a href="mailto:eventos@vmcom.com.br"> eventos@vmcom.com.br</a>
        </p>
      </div>
    </div>
    <div class="col l6 m6 s12">
      <div class="img_endereco" data-aos="fade-left" data-aos-anchor-placement="center-bottom">
        <img src="/assets/img/layout/img_reboucas.png" class="hide-on-small-only responsive-img" alt="">
      </div>
    </div>
  </div>
</section>