<app-menu-internas></app-menu-internas>
<section id="titlePage" class="center-align">
  <h2>Hospedagem</h2>
  <hr>
</section>

<section id="hospedagemPage">
  <div class="row ">
    <div class="container center">
      <h3 class="title-hespedagem">Hoteis</h3>
      <ul class="collapsible">
        <!-- :::::::Nobile Downtown::::::::::::: -->
        <li>
          <div class="collapsible-header">Nobile Downtown <i _ngcontent-c4="" class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s6">
                <p><b>Endereço</b></p>
              </div>
              <div class="col s6">
                <p>R. Araújo, 141 - República</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Região</b></p>
              </div>
              <div class="col s6">
                <p>Centro</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Indivual</b></p>
              </div>
              <div class="col s6">
                <p>R$ 215,00</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Duplo</b></p>
              </div>
              <div class="col s6">
                <p>R$ 247,00</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Distância até CCR (Av. Rebouças, 600 - Pinheiros, São Paulo - SP)  </b></p>
              </div>
              <div class="col s6">
                <p>4,2 km</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Transporte</b></p>
              </div>
              <div class="col s6">
                <p>Aprox. 20 minutos de carro (dependendo do trânsito, tempo calculdo às 18h)</p>
              </div>
            </div>
          </div>
        </li>
        <!-- :::::::Nobile Downtown::::::::::::: -->
        <!-- :::::::Hotel Excelsior Ipiranga::::::::::::: -->
        <li>
          <div class="collapsible-header">Hotel Excelsior Ipiranga<i _ngcontent-c4="" class="material-icons right">arrow_drop_down</i></div>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s6">
                <p><b>Endereço</b></p>
              </div>
              <div class="col s6">
                <p>Av. Ipiranga, 770 - Centro</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Região</b></p>
              </div>
              <div class="col s6">
                <p>Centro</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Indivual</b></p>
              </div>
              <div class="col s6">
                <p>R$ 223,68</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Duplo</b></p>
              </div>
              <div class="col s6">
                <p>R$ 236,84</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Distância até CCR (Av. Rebouças, 600 - Pinheiros, São Paulo - SP) </b></p>
              </div>
              <div class="col s6">
                <p>5,4 km</p>
              </div>
            </div>
            <div class="row">
              <div class="col s6">
                <p><b>Transporte</b></p>
              </div>
              <div class="col s6">
                <p>Aprox. 25 minutos de carro (dependendo do trânsito, tempo calculdo às 18h)</p>
              </div>
            </div>
          </div>
        </li>
        <!-- :::::::Hotel Excelsior Ipiranga::::::::::::: -->
        <!-- :::::::Hotel Marabá::::::::::::: -->
        <li>
            <div class="collapsible-header">Hotel Marabá<i _ngcontent-c4="" class="material-icons right">arrow_drop_down</i></div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6">
                  <p><b>Endereço</b></p>
                </div>
                <div class="col s6">
                  <p>Av. Ipiranga, 757 - Centro</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Região</b></p>
                </div>
                <div class="col s6">
                  <p>Centro</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Indivual</b></p>
                </div>
                <div class="col s6">
                  <p>R$ 236,84</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Duplo</b></p>
                </div>
                <div class="col s6">
                  <p>R$ 375,00</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Distância até CCR (Av. Rebouças, 600 - Pinheiros, São Paulo - SP) </b></p>
                </div>
                <div class="col s6">
                  <p>5,4 km</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Transporte</b></p>
                </div>
                <div class="col s6">
                  <p>Aprox. 25 minutos de carro (dependendo do trânsito, tempo calculdo às 18h)</p>
                </div>
              </div>
            </div>
          </li>
          <!-- :::::::Hotel Marabá::::::::::::: -->
          <!-- :::::::Comfort Suites Oscar Freire::::::::::::: -->
          <li>
            <div class="collapsible-header">Comfort Suites Oscar Freire<i _ngcontent-c4="" class="material-icons right">arrow_drop_down</i></div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6">
                  <p><b>Endereço</b></p>
                </div>
                <div class="col s6">
                  <p>R. Oscar Freire, 1948 - Jardim Paulista</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Região</b></p>
                </div>
                <div class="col s6">
                  <p>Oeste</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Indivual</b></p>
                </div>
                <div class="col s6">
                  <p>R$ 305,00</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Duplo</b></p>
                </div>
                <div class="col s6">
                  <p>R$ 328,75</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Distância até CCR (Av. Rebouças, 600 - Pinheiros, São Paulo - SP) </b></p>
                </div>
                <div class="col s6">
                  <p>800 metros</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Transporte</b></p>
                </div>
                <div class="col s6">
                  <p>Aprox. 10 minutos a pé</p>
                </div>
              </div>
            </div>
          </li>
          <!-- :::::::Comfort Suites Oscar Freire::::::::::::: -->
          <!-- :::::::WZ Hotel Jardins::::::::::::: -->
          <li>
            <div class="collapsible-header">WZ Hotel Jardins<i _ngcontent-c4="" class="material-icons right">arrow_drop_down</i></div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s6">
                  <p><b>Endereço</b></p>
                </div>
                <div class="col s6">
                  <p>Av. Rebouças, 955 - Jardins</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Região</b></p>
                </div>
                <div class="col s6">
                  <p>Oeste</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Indivual</b></p>
                </div>
                <div class="col s6">
                  <p>R$ 384,87</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Duplo</b></p>
                </div>
                <div class="col s6">
                  <p>R$ 490,79</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Distância até CCR (Av. Rebouças, 600 - Pinheiros, São Paulo - SP) </b></p>
                </div>
                <div class="col s6">
                  <p>750 metros</p>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <p><b>Transporte</b></p>
                </div>
                <div class="col s6">
                  <p>Aprox. 8 minutos a pé</p>
                </div>
              </div>
            </div>
          </li>
          <!-- :::::::WZ Hotel Jardins::::::::::::: -->
        
      </ul>
    
    </div>
  </div>
</section>
