.countdown-fixed{
    position: fixed;
    bottom:0;   
    display: none;
    height:100px;
    z-index:99;
    width:100%;
}

.cta-countdown-fixed{
    padding: 15px 0 0 0;
}

.cta-countdown-fixed a{
    font-size: 0.7em;
}


.timer2{
    padding: 15px 0 0 0!important;
}


@media screen and (max-width: 950px) {
    /* start of phone styles */
    /*p, img, h5, h6 {
        border:1px solid pink;
    }*/
    .countdown-fixed{
        display:none!important;
    }
    
    
   
}