<div  class="container-fluid">
  
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>


<div class="container-fluid countdown-fixed">
  <div class="row center white-text">
      <div class="col s12 center">
        <div class="number">
          <div class="timer2"></div>
        </div>
        <div class="cta-countdown-fixed center">
          <a href="/#/adesao?utm_source=cta-fixed&utm_medium=cta-fixed&utm_campaign=cta-fixed" class="waves-effect waves-light btn btn-default">
            Fazer adesão agora</a>
        </div>
      </div>
  </div>
</div>
