<app-menu-internas></app-menu-internas>
<section id="titlePage" class="center-align">
  <h2>Livro Oficial</h2>
  <hr>
</section>

<section id="livro">
    <div class="container ">
      <div class="row">
          <div class="container-livro ">
            <div class="col m4 l3 s12 center-align foto-3d">
              <img src="/assets/img/layout/livro.jpg" class="responsive-img" alt="">
            </div>
            <div class="col m8 l9 s12">
              <h2>Livro oficial</h2>
              <p>O livro a ser lançado no evento é uma nova produção da Editora Quintessence, que registrará
                  em vários capítulos os mais diversos procedimentos em Harmonização Orofacial.<br>
                 <b> “A Harmonização Orofacial – A verdadeira face da Odontologia. Bases e fundamentos”</b><br>
                  Autor: Prof. Dr. Luciano Artioli Moreira<br><br>
                <span>Capa dura, cerca de 350 páginas, mais de 300 imagens e impressão em alta resolução.<br>
                    * todos os participantes do FACE terão desconto de 20% na compra do livro</span>  
              </p>
            </div>
          </div>
        </div>
      </div>
</section>
