<app-menu-internas></app-menu-internas>
<section id="titlePage" class="center-align">
  <h2>Sobre o Evento</h2>
  <hr>
</section>

<section id="sobrePage" >
  <div class="container">
    <div class="row">
      <div class="col l8 offset-l2 m12 s12">
        <div class="textSobre">
          <h3>Inovando com consistência científica</h3>
          <p>
              
              Percorremos uma longa trajetória e, finalmente, hoje podemos afirmar que a Harmonização Orofacial é uma realidade na Odontologia. Diante disso, não há como negar que somos uma geração privilegiada de cirurgiões-dentistas, pois temos um universo de novas possibilidades para explorar.
              <br><br>
              Junto com essa enorme oportunidade vem também uma carga de igual tamanho de responsabilidade. Afinal, precisamos dominar plenamente qualquer novo procedimento antes de oferecê-lo aos nossos pacientes. Isso envolve o conhecimento anatômico, o correto diagnóstico, as indicações e contraindicações, as interações com outras terapias e as possíveis intercorrências.
              <br><br>
              Coletivamente falando, a conquista da Harmonização Orofacial foi um grande passo para a Odontologia. No entanto, cada um de nós tem uma jornada de evolução pessoal a cumprir. Está na hora de estudarmos e buscarmos nosso aprimoramento técnico para utilizar com excelência as ferramentas que agora estão ao nosso alcance.
              <br><br>
              Assim, nasce o FACE International Congress 2019, a primeira edição de um encontro que tem a proposta de disseminar as melhores práticas em todos os espectros da Harmonização Orofacial, sempre pautado em evidências científicas.
              <br><br>
              É assim que vamos escrever este novo capítulo da nossa Odontologia: com responsabilidade, consistência científica e disposição para inovar.
              
          </p>
        </div>        
      </div>
    </div>
  </div>
  <div id="ministradores">
      <div class="container">
        <div class="row">
          <div class="col m4 s12">
            <div class="ministradores center-align">
              <img src="/assets/img/layout/altamiro.png" class="responsive-img circle" alt="">
              <h2>Altamiro Flavio</h2>
              <p>Presidente</p>
            </div>
          </div>
          <div class="col m4 s12">
              <div class="ministradores center-align">
                <img src="/assets/img/layout/maristela.png" class="responsive-img circle" alt="">
                <h2>Maristela Lobo</h2>
                <p>Coordenadora da comissão científica</p>
              </div>
            </div>
            <div class="col m4 s12">
                <div class="ministradores center-align">
                  <img src="/assets/img/layout/luciano.png" class="responsive-img circle" alt="">
                  <h2>Luciano Artioli</h2>
                  <p>Patrono</p>
                </div>
              </div>
        </div>
      </div>
    </div>
</section>