<div id="patrocinadores">
  <div class="container">
    <div class="row">
      <div class="col s12 m3 center-align">
        <h2>Promoção</h2>
        <img src="/assets/img/layout/face.png" class="responsive-img" alt="">
      </div>
      <div class="col m3 s12 center-align">
          <h2>Realização</h2>
          <img src="/assets/img/layout/vm.png" class="responsive-img" alt="">
      </div>
      <div class="col m6 s12 center-align">
          <h2>Apoio Institucional</h2>
          <img src="/assets/img/layout/apoio.png" class="responsive-img" alt="">
      </div>
      <div class="col s12 center-align">
          <h2>Patrocinadores</h2>          
      </div>
      <div class="col m6 s12 center-align">
          <h2>Diamante</h2>
          <img src="/assets/img/layout/diamante.png" class="responsive-img" alt="">
      </div>
      <div class="col m6 s12 center-align">
          <h2>Ouro</h2>
          <img src="/assets/img/layout/ouro.png" class="responsive-img" alt="">
      </div>
    </div>
  </div>
</div>